<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs'); -%>
</head>

<body>
    <header>
        <%- include('partials/header.ejs'); -%>
    </header>
    <main id="home">
        <section>
            <article><p><%= users[0].name %></p>
            <p><%= messages[0].message %></p>
        </article>
        <article><p><%= users[1].name %></p>
            <p><%= messages[1].message %></p>
        </article>
        <article><p><%= users[2].name %></p>
            <p><%= messages[2].message %></p>
        </article>
        </section>
        <section><img src="../static/images/scratch.png" alt="Profielfoto">
        <h2><%= users[0].name %></h2>
        <h3><%= users[0].age %></h3>
        <h4>About me</h4>
        <p><%= users[0].description %></p>
        <a href="chatwindow"><button>Talk to <%= users[0].name %></button></a>
    <button>Show <%= users[0].name %>'s profile</button></section>
    </main>
    <footer><%- include('partials/footer.ejs'); -%></footer>
</body>

</html>
