<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs'); -%>
</head>

<body>
    <header>
        <%- include('partials/header.ejs'); -%>
    </header>
    <main>
        <a href="chatoverview"><img src="" alt="go back"></a>
        <div class="naastelkaar">
            <section id="deChat"><h2><%= users[0].name %></h2>
            <% if(messages.length){ %>
                    <% for(var i=0; i < messages.length; i++){ %>
                    <p class="myMessage"><%= messages[i].message %></p>
                <% }} %>
    
        <p>Talk about <%= subjects[sub].oneSubject %></p>
        <form method="post" target="chatwindow">
            <input type="textarea" name="message" placeholder="Say something">
	        <button>--></button>
	    </form>

    </section>
    <section class="chatprofile"><img src="../static/images/scratch.png" alt="Profielfoto">
        <h2><%= users[0].name %></h2>
        <h3><%= users[0].age %></h3>
        <h4>About me</h4>
        <p><%= users[0].description %></p>
        <button>Show <%= users[0].name %>'s profile</button>
    </section></div>
    </main>
    <footer><%- include('partials/footer.ejs'); -%></footer>
</body>

</html>
