<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs'); -%>
</head>

<body>
    <header>
        <%- include('partials/header.ejs'); -%>
    </header>
    <main>
        <h1>Hoi, <%= users[userID].name %></h1>
        <div class="naastelkaar"><section id="useroverview">
            <form method="post" target="/chatwindow">
                <% if(users.length){ %>
                    <% for(var i=0; i < users.length; i++){ %>
                        <% if (users[i].name !== users[userID].name) { %>
                            <input type=radio value=<%= i %> name="chatWith"><%= users[i].name %>
                            <p><%= messages[i].message %></p>
            <% }}} %><button>Talk to me!</button></form>
        </article>
        </section>
        <section class="chatprofile"><img src="../static/images/scratch.png" alt="Profielfoto">
        <h2><%= users[0].name %></h2>
        <h3><%= users[0].age %></h3>
        <h4>About me</h4>
        <p><%= users[0].description %></p>
        <a href="chatwindow"><button>Talk to <%= users[0].name %></button></a>
    <button>Show <%= users[0].name %>'s profile</button></section></div>
    </main>
    <footer><%- include('partials/footer.ejs'); -%></footer>
</body>

</html>
